<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/holidays.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main id="main">
    <section>
        <div class="flex">
            <h3><span class="big">Attendance</span> <br> Dashboard / <span class="grey">Attendance</span></h3>
        </div>
    
        </div>
        <div class="flex">
            <input type="text" placeholder="Employee Name" name="name" class="searchInput">
            <input type="text" placeholder="Leave Type" name="leaveType" class="searchInput">
            <input type="text" placeholder="Leave Status" name="leaveStatus" class="searchInput">
            <input type="date" placeholder="From" name="from" class="searchInput">
            <input type="date" placeholder="To" name="to" class="searchInput">
            <button class="searchBtn">SEARCH</button>
        </div>
    </section>
    <section class="column">
        <div class="row whiteBG margin-top">
            <strong><h3>Employee.....</h3></strong>
            <strong><h3>1</h3></strong>
            <strong><h3>2</h3></strong>
            <strong><h3>3</h3></strong>
            <strong><h3>4</h3></strong>
            <strong><h3>5</h3></strong>
            <strong><h3>6</h3></strong>
            <strong><h3>7</h3></strong>
            <strong><h3>8</h3></strong>
            <strong><h3>9</h3></strong>
            <strong><h3>10</h3></strong>
            <strong><h3>11</h3></strong>
            <strong><h3>12</h3></strong>
            <strong><h3>13</h3></strong>
            <strong><h3>14</h3></strong>
            <strong><h3>15</h3></strong>
            <strong><h3>16</h3></strong>
            <strong><h3>17</h3></strong>
            <strong><h3>18</h3></strong>
            <strong><h3>19</h3></strong>
            <strong><h3>20</h3></strong>
            <strong><h3>21</h3></strong>
            <strong><h3>22</h3></strong>
            <strong><h3>23</h3></strong>
            <strong><h3>24</h3></strong>
            <strong><h3>25</h3></strong>
            <strong><h3>26</h3></strong>
            <strong><h3>27</h3></strong>
            <strong><h3>28</h3></strong>
            <strong><h3>29</h3></strong>
            <strong><h3>30</h3></strong>
            <strong><h3>31</h3></strong>
        </div>

        <div class="row greyBG">
            <div class="row-flex"><img src="/images/avatar2.png" alt="employee" width="20px" height="auto"><p>John Doe</p></div>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="red">&#10008;</p>
            <p class="red">&#10008;</p>
            <p class="red">&#10008;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="red">&#10008;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="red">&#10008;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
            <p class="red">&#10008;</p>
            <p class="green">&#10004;</p>
            <p class="green">&#10004;</p>
        </div>

        <div class="row whiteBG noDelete">
            <div class="row-flex"><img src="/images/avatar2.png" alt="employee" width="20px" height="auto"><p>John Doe</p></div>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
            </div>
        </div>

        <div class="row greyBG">
            <div class="row-flex"><img src="/images/avatar2.png" alt="employee" width="20px" height="auto"><p>John Doe</p></div>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
            </div>
        </div>

        <div class="row whiteBG noDelete">
            <div class="row-flex"><img src="/images/avatar2.png" alt="employee" width="20px" height="auto"><p>John Doe</p></div>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
            </div>
        </div>

        <div class="row greyBG">
            <div class="row-flex"><img src="/images/avatar2.png" alt="employee" width="20px" height="auto"><p>John Doe</p></div>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
            </div>
        </div>

        <div class="row whiteBG noDelete">
            <div class="row-flex"><img src="/images/avatar2.png" alt="employee" width="20px" height="auto"><p>John Doe</p></div>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
            </div>
        </div>

        <div class="row greyBG">
            <div class="row-flex"><img src="/images/avatar2.png" alt="employee" width="20px" height="auto"><p>John Doe</p></div>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
            </div>
        </div>

        <div class="row whiteBG noDelete">
            <div class="row-flex"><img src="/images/avatar2.png" alt="employee" width="20px" height="auto"><p>John Doe</p></div>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
                <p class="red">&#10008;</p>
                <p class="green">&#10004;</p>
                <p class="green">&#10004;</p>
            </div>
        </div>
    </section>
    <span class="right"><i class="fa fa-gear fa-spin" style="font-size:55px; color:#ff7a05;"></i></span>
</main>

<%- include('../includes/end') %>