<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/holidays.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main id="main">
    <section>
        <div class="flex">
            <h3><span class="big">Holidays</span> <br> Dashboard / <span class="grey">Holidays</span></h3>
            <a href="#add-holiday" class="addHol-btn">+ Add Holiday</a>
        </div>
    </section>
    <section class="column">
        <div class="row whiteBG margin-top">
            <strong><h3>#</h3></strong>
            <strong><h3>Title</h3></strong>
            <strong><h3>Holiday date</h3></strong>
            <strong><h3>Day</h3></strong>
            <strong><h3>Action</h3></strong>
        </div>

        <div class="row greyBG">
            <strong><p>1</p></strong>
            <strong><p>New Year Day</p></strong>
            <strong><p>1 Jun 2023</p></strong>
            <strong><p>Sunday</p></strong>
            <div class="buttons">
                <button class="fa fa-edit edit ubuntu"> Edit</button>
                <button class="fa fa-trash delete ubuntu"> Delete</button>
            </div>
        </div>

        <div class="row whiteBG noDelete">
            <strong><p>2</p></strong>
            <strong><p>Valantines Day</p></strong>
            <strong><p>14 Jun 2023</p></strong>
            <strong><p>Tuesday</p></strong>
            <div class="buttons">
                <button class="fa fa-edit edit ubuntu"> Edit</button>
                <button class="fa fa-trash delete ubuntu"> Delete</button>
            </div>
        </div>

        <div class="row greyBG">
            <strong><p>3</p></strong>
            <strong><p>Easter Sunday</p></strong>
            <strong><p>9 April 2023</p></strong>
            <strong><p>Sunday</p></strong>
            <div class="buttons">
                <button class="fa fa-edit edit ubuntu"> Edit</button>
                <button class="fa fa-trash delete ubuntu"> Delete</button>
            </div>
        </div>

        <div class="row whiteBG noDelete">
            <strong><p>4</p></strong>
            <strong><p>Workers Day</p></strong>
            <strong><p>1 May 2023</p></strong>
            <strong><p>Monday</p></strong>
            <div class="buttons">
                <button class="fa fa-edit edit ubuntu"> Edit</button>
                <button class="fa fa-trash delete ubuntu"> Delete</button>
            </div>
        </div>

        <div class="row greyBG">
            <strong><p>5</p></strong>
            <strong><p>Memorial Day</p></strong>
            <strong><p>28 May 2023</p></strong>
            <strong><p>Sunday</p></strong>
            <div class="buttons">
                <button class="fa fa-edit edit ubuntu"> Edit</button>
                <button class="fa fa-trash delete ubuntu"> Delete</button>
            </div>
        </div>

        <div class="row whiteBG noDelete">
            <strong><p>6</p></strong>
            <strong><p>Ramadaan Day</p></strong>
            <strong><p>26 Jun 2023</p></strong>
            <strong><p>Monday</p></strong>
            <div class="buttons">
                <button class="fa fa-edit edit ubuntu"> Edit</button>
                <button class="fa fa-trash delete ubuntu"> Delete</button>
            </div>
        </div>

        <div class="row greyBG">
            <strong><p>7</p></strong>
            <strong><p>Independence</p></strong>
            <strong><p>1 Oct 2023</p></strong>
            <strong><p>Sunday</p></strong>
            <div class="buttons">
                <button class="fa fa-edit edit ubuntu"> Edit</button>
                <button class="fa fa-trash delete ubuntu"> Delete</button>
            </div>
        </div>

        <div class="row whiteBG noDelete">
            <strong><p>8</p></strong>
            <strong><p>Christmas Day</p></strong>
            <strong><p>25 Dec 2023</p></strong>
            <strong><p>Monday</p></strong>
            <div class="buttons">
                <button class="fa fa-edit edit ubuntu"> Edit</button>
                <button class="fa fa-trash delete ubuntu"> Delete</button>
            </div>
        </div>
    </section>
    <span class="right"><i class="fa fa-gear fa-spin" style="font-size:55px; color:#ff7a05;"></i></span>
</main>

<%- include('../includes/end') %>