@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Ubuntu&display=swap');

* {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}

/* || UTILITY STYLES */

.ubuntu {
  font-family: Ubuntu, sans-serif;
}

.red {
  color: red; 
}

.right {
  position: fixed; 
  left: 87rem; 
  bottom: 3rem; 
}

.grey {
  color: #696969;
}

.big {
  font-size: 2.1rem; 
  line-height: 4.5rem; 
}

.flex {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.whiteBG {
  background: #fff;
}

.margin-top {
  margin-top: 2rem; 
}

.greyBG {
  background: #ededed;
}

.noDelete {
  color: #e0e0e0;
}

.row-flex {
  display: flex; 
  align-items: center;
  gap: 0.5rem
}

/* || GENERAL STYLES */

#main {
  padding:  1rem 1rem 1rem 3rem; 
}

.addHol-btn {
  text-decoration: none; 
  padding: 0.6rem; 
  border: 1px solid #ff9b45;
  border-radius: 20px; 
  color: #fff; 
  background: #ff9b45;
  font-weight: bold;   
}

.row {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  border: none;
  border-top: none;
  border-radius: 2px;
  padding: 0.7rem;
  color: #000;
  text-align: center;
  overflow: hidden;
}

button {
  padding: 0.8rem; 
  border: 0px;
  border-radius: 5px;
  color: #fff;
}

.buttons .edit {
  background: #ff9b45;
}

.buttons .edit:hover {
  background: #ff8011;
  transition: .5s;
}

.buttons .delete {
  background: #fd7464;
  transition: .5s;

}

.buttons .delete:hover {
  background: #ff341e;
}

.box {
  padding: 1.2rem; 
  border: 1px solid #dbdbdb; 
  background: #fff;
  font-size: larger;
  border-radius: 5px;
  width: 290px; 
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.box span {
  display: flex; 
  justify-content: center;
  gap: 0.5rem;
}

span p {
  align-self: last baseline;
  font-weight: light;
  font-family: calibri, sans-serif;
  font-size: medium;
  color: #a1a1a1; 
}

.searchInput {
  padding: 1rem; 
  border: 1px solid #dedede; 
  background: #fff;
  border-radius: 5px; 
  width: 190px;
  margin-top: 1rem;
}

.searchBtn {
  padding: 1rem; 
  border: 1px solid #55cc67; 
  background: #55cc67;
  border-radius: 5px; 
  width: 190px;
  margin-top: 1rem; 
  font-size: large;
  font-weight: bold;
}

.searchBtn:hover {
  background-color: #68a41f;
  border: 1px solid #68a41f; 
  transition: 3s;
}
